



<div class="parallax-container">
        <div class="parallax"><img src="background4.jpg" style= "opacity: 0.5;" ></div>
         <br>
         <br>
         <div class = "row">
             <div class = "col s6 offset-s4">
         <h3>Realtor Scraper</h3>
            </div>
         </div>
         <br>
         <br>
         <div class = "row">
            <div class="col s6 offset-s4">
         <button class="btn waves-effect waves-light scrape">Start Scraping</button>
          <button class="btn waves-effect waves-light deletescrape" >Delete Scrape</button> 
        </div>
           </div>
         </div>
 <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a class = "active"href="#test1">Articles</a></li>
        <li class="tab col s3"><a class="active" href="#test2">Saved Articles</a></li>
        <li class="tab col s3" id = "noteTab" method="GET" action="/notes"><a class= "active" href="#test3">Notes</a></li>
        
      </ul>
    </div>
    <div id="test1" class="col s12">
       {{#each articles}}
         <div  class = "card blue-grey">
           <a href= "{{link}}"></a>
         <h4 class = "center-align white-text" style=  "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >{{title}}</h4>
         <p class="center-align">{{summary}}</p>
          <i class= "small material-icons favorite" data-id= "{{id}}" >favorite_border</i>
         </div>

       {{/each}}

    </div>
     <div class="row"></div>
    <div id="test2" class="col s12">
    {{#each articles}}
    {{#if favorite}}
       <div  class = "card grey" data-id= "{{id}}">
           <a href= "{{link}}"></a>
         <h4 class = "center-align white-text" style=  "font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;" >{{title}}</h4>
         <h6 class = "center-align">{{summary}}</h6>
       </div>

         <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Notes</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal modal-fixed-footer">
    <div class="modal-content">
        {{!-- method= "POST" action="/note/:id" --}}
        <p>Note for: {{title}}<p>
      <form data-id="{{id}}" class= "newNote" >
          <div class = "row">
          <div class="input-field col s6">
              <input id="input_text" class = "text" type="text" data-length="10">
            <label for="input_text" >Message</label>
          </div>
         </div>
         <br>
        <div class = "row">
          <div class="input-field col s6">
            <textarea id="textarea2" class="materialize-textarea messagearea" data-length="120"></textarea>
            <label for="textarea2">Textarea</label>
            <button  type = "submit ">Submit</button>
          </div>
        </div>
        </form>

    </div>
    
  </div>
    {{/if}}
    {{/each}}
    
   
      
        
      
    </div>
    </div>
    <div id="test3" class="col s12">
        <button class="btn waves-effect waves-light ShowNotes" >view notes</button> 
        {{#each notes}}
         <div class="row">
    <div class="col s12 m5">
      <div class="card-panel teal">
        <span class="white-text">
          <h5>{{title}}</h5>
          <p>{{body}}</p>
        </span>
      </div>
    </div>
  </div>
        {{/each}}
    </div>
    
  </div>

  <div class="parallax-container">
        <div class="parallax"><img src="background4.jpg" style= "opacity: 0.5;" ></div>
        </div>
